<div>
    <h2>
        <span>Animals</span>
        <button class="btn btn-primary float-right jh-create-entity create-animal" [routerLink]="['/', { outlets: { popup: ['animal-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Animal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="animals">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Legacyid</span></th>
            <th><span>Species</span></th>
            <th><span>Basic Analysis</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let animal of animals ;trackBy: trackId">
                <td><a [routerLink]="['../animal', animal.id ]">{{animal.id}}</a></td>
                <td>{{animal.legacyid}}</td>
                <td>{{animal.species}}</td>
                <td>
                    <div *ngIf="animal.basicAnalysis">
                        <a [routerLink]="['../basic-analysis', animal.basicAnalysis?.id ]" >{{animal.basicAnalysis?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../animal', animal.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'animal/'+ animal.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'animal/'+ animal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
