
<div *ngIf="basicAnalysis">
    <h2><span>Basic Analysis</span> {{basicAnalysis.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Technology Type</span></dt>
        <dd>
            <span>{{basicAnalysis.technologyType}}</span>
        </dd>
        <dt><span>Measure 1</span></dt>
        <dd>
            <span>{{basicAnalysis.measure1}}</span>
        </dd>
        <dt><span>Score</span></dt>
        <dd>
            <span>{{basicAnalysis.score}}</span>
        </dd>
        <dt><span>Id</span></dt>
        <dd>
            <span>{{basicAnalysis.id}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'basic-analysis/'+ basicAnalysis.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
